body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: font-regular;
  font-size: 16px;
}

@font-face {
  font-family: font-thin;
  src: url(./assets/Fonts/Poppins-Thin.ttf);
}
@font-face {
  font-family: font-light;
  src: url(./assets/Fonts/Poppins-Light.ttf);
}
@font-face {
  font-family: font-extralight;
  src: url(./assets/Fonts/Poppins-ExtraLight.ttf);
}
@font-face {
  font-family: font-regular;
  src: url(./assets/Fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: font-medium;
  src: url(./assets/Fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: font-bold;
  src: url(./assets/Fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: font-semibold;
  src: url(./assets/Fonts/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: font-extrabold;
  src: url(./assets/Fonts/Poppins-ExtraBold.ttf);
}

.h3Chart tspan{
  fill: #fff  ;
}